.buttonDelete {
  grid-area: 1 / 5 / 2 / 6;
  text-align: center;
  color: #000;
  background-color: greenyellow;
  border-radius: 50px;
  margin: 10px;
}
.buttonDelete:hover {
  border: solid #f00 1px;
  background-color: #000;
  color: #f00;
}
